// Specific CSS for your home-page
body {
  font-size: 12px;
  height: 100vh;
}
h3 {
  font-size: 14px;
}
hr {
  margin: 10px 0;
}
.map-tabs {
  height: 70px;
}
.home-container {
  width: 100%;
  height: 100%;
}
.left-section {
  height: 100%;
  overflow: scroll;
}
.middle-section {
  height: 100%;
}
.right-section {
  height: 100%;
}
.right-section button {
  height: 35px;
}
#nav-tabContent, .tab-pane {
  width: 100%;
  height: calc(100% - 70px);
}
canvas {
  width: 100%;
  height: 100%;
}
.chat-container {
  height: 100%;
}
.chat {
  height: 100%;
  overflow: scroll;
  display: flex;
  flex-direction: column-reverse;
}
.nes-container {
  height: 100%;
  padding: 0px;
}
.nes-progress {
  height: 20px;
}
.nes-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20px;
  width: 20px;
  padding: 0px;
}
.nes-btn i {
  font-size: 8px;
}
.nes-input {
  padding: 4px;
}
.character-actions .nes-btn {
  width: 26px;
  height: 26px;
  margin: 0;
}
.character-actions .nes-btn i {
  font-size: 12px;
}
.life-container {
  // display: flex;
  // justify-content: space-between;
  // align-items: center;
  // width: 100%;
  padding: 12px 6px;
}
.life-progress {
  position: relative;
  // width: 100%;
  // margin: 0 10px;
}
.life-value {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 50%;
  right: 50%;
  margin-top: -10px;
  margin-right: -10px;
  z-index: 10;
}
.skills {
  // padding: 0 8px;
}
.popover-body {
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
}
.arrow::after {
  border-top-color: black !important;
}
.skills i {
  font-size: 18px;
  margin-bottom: 4px;
  opacity: 0.8;
}
.skills button {
  background: none;
  border: none;
  color: black;

  &:focus {
    outline: none;
  }
}
.skillset-dropdown {
  padding: 0px 16px;
  min-width: 120px;
}
.skillset-dropdown__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 8px 0;

  p {
    margin-bottom: 0;
  }
}
.toggle-collapse-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none !important;
  color: black;
  font-size: 16px;
}
.inventory textarea {
  width: 100%;
}
.tabs-underlined {
  display: flex;
  align-items: center;
}

.tabs-underlined .tab-underlined {
  color: black;
  padding: 8px;
  margin: 8px 16px;
  opacity: .4;
  cursor: pointer;
  text-decoration: none;
  border-bottom: 4px solid transparent;
}

.tabs-underlined .tab-underlined.active {
  opacity: 1;
  border-bottom: 3px solid #555555;
}
